<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>TOPSOFT BVS - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets2/img/favicon.png" rel="icon">
  <link href="assets2/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets2/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets2/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets2/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets2/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets2/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets2/css/style.css" rel="stylesheet">
    <link href="assets/css/ballot.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top " style="background: rgba(40, 40, 40, 0.9);">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
          <h1 class="logo me-auto me-lg-0"><a href="index.html">
            <i class="bi bi-person-fill">  </i>BVS</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" href="user-dashboard.html">Home</a></li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Elections</a>
                     <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="presidency.html">Presidency</a></li>
                         <li><a class="dropdown-item" href="senate.html">Senate</a></li>
                          <li><a class="dropdown-item" href="senate.html">House of Rep</a></li>
                         <li class="dropdown-divider"></li>
                         <li><a class="dropdown-item" href="governorship.html">Govenorship</a></li>
                         <li><a class="dropdown-item" href="house-of-assembly.html">House of Assembly</a></li>
                         <li class="dropdown-divider"></li>
                         <li><a class="dropdown-item" href="#">Local</a></li>

                     </ul>
                 </li>
                 <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Results</a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Presidency</a></li>
                          <li><a class="dropdown-item" href="#">Senate</a></li>
                          <li class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Govenorship</a></li>
                          <li><a class="dropdown-item" href="#">House of Assembly</a></li>
                          <li class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Local</a></li>

                      </ul>
                  </li>
             </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->
            <a href="login.html" class="get-started" id="logout">Welcome <span>User</span></a>
        </div>
            <img src="assets\images\faces\1.jpg" class=" image-fluid float-end" alt="...">
      </div>

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Login Section ======= -->
    <section id="login" class="ballot">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class ="col-sm-4"style="padding-top: 40px;">
            <div class="card"style ="background-color:#17ffd0;">
              <div class="card-header">
                <div class ="row mt-n3 mb-2" style ="background-color:#089679;">
                  .
                </div>
                <div class ="row d-flex justify-content-center">
                  <div class ="col-2">  <img src="assets\images\ballot\flag.PNG" class="img-fluid rounded-start " style="height: 30px;"
                    alt="...">
                  </div>
                </div>

                  <div class ="row d-flex justify-content-center mt-3">
                    <h5 class ="h5 text-center fw-bold" style="font-size:14px;">Federal Republic of Nigeria</h5>
                  </div>

                <div class ="row">
                  <div class ="col-3">
                      <img src="assets\images\ballot\coatOfArm.PNG" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class ="col-6"  >
                      <h5 class ="h5 text-center fw-bold" style="font-size:14px;">State Election 2021</h5>
                      <h4 class ="h5 text-center fw-bold" style="font-size:14px;">ASSEMBLY ELECTION</h4>
                      <h3 class ="display-6 text-center fw-bolder" style="font-size:18px;">E-BALLOT</h3>
                      <hr>
                  </div>
                  <div class ="col-3">
                      <img src="assets\images\ballot\inec logo.PNG" class="img-fluid rounded-start" alt="...">
                  </div>
                </div>

                <div class="row d-flex justify-content-center">
                  <div class="col-4" style="background-color: #fff; color:red;">
                    <p class ="text-center fw-bold m-1"style="font-size:14px;">OSUN STATE</p>
                  </div>
                </div>
                <div class ="row d-flex mt-1 mb-2" style ="background-color:#089679;">
                          <p class ="text-center  m-1" style ="color:#fff;"style="font-size:11px;">Click the Candidate of your choice and click cast vote to vote</p>
                </div>
              </div>

                  <div class="row mx-3 mt-3 d-flex justify-content-center"style="background-color: #defff8; ">
                    <ul class="row list-unstyled">

                    <li class="col-12 my-2">
                        <div class="card mb-3 cand-card" id="cand-card">
                          <div class="row g-0">
                            <div class="col 4 d-flex align-self-stretch">
                              <img src="assets\images\faces\2.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-4 d-flex align-self-stretch">
                              <img src="assets\images\ballot\pdp.png" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-4 d-flex align-self-stretch">
                              <div class="card-body">
                                <div class ="d-flex justify-content-center"><input class="form-check-input" type="radio" name="partyCard" id="partyCard"></div>
                                <p class="card-text">Party</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>

                      <li class="col-12 my-2">
                          <div class="card mb-3 cand-card"id="cand-card">
                            <div class="row g-0">
                              <div class="col 4 d-flex align-self-stretch">
                                <img src="assets\images\faces\2.jpg" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-4 d-flex align-self-stretch">
                                <img src="assets\images\ballot\pdp.png" class="img-fluid rounded-start" alt="...">
                              </div>
                              <div class="col-4 d-flex align-self-stretch">
                                <div class="card-body">
                                  <div class ="d-flex justify-content-center"><input class="form-check-input" type="radio" name="partyCard" id="partyCard"></div>
                                  <p class="card-text">Party</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                    </ul>
                  </div>
              </div>

              <div class ="card-footer d-flex justify-content-center" style ="background-color:#089679;">
                <button class="btn btn-success" style="border: 1px solid #fff;">Cast vote</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section><!-- End ballot Section -->
  </main>


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Biometric-Voting-System</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Topsoft</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-simple-one-page-bootstrap-template/ -->
        Designed by <a href="#about">Homeetop</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets2/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets2/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets2/vendor/php-email-form/validate.js"></script>
  <script src="assets2/vendor/purecounter/purecounter.js"></script>
  <script src="assets2/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets2/js/main.js"></script>
  <script src="assets\js\ballot.js"></script>

</body>

</html>
